<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            border: black 3px solid;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div>
            <h1> All Users </h1>
            <table>
                <thead>
                    <tr>
                        <th> ID: </th>
                        <th> Full Name:</th>
                        <th> Email: </th>
                        <th> Created At: </th>
                        <th> Action: </th>
                    </tr>
                </thead>
                <tbody>
                    {% for users in users %}
                    <tr>
                        <td> {{users.id}} </td>
                        <td> {{users.first_name}} {{users.last_name}} </td>
                        <td> {{users.email}} </td>
                        <td> {{users.created_at}} </td>
                        <td><a href="/user/show/{{users.id}}" > Show </a> | <a href="/user/edit/{{users.id}}"> Edit </a> | <a href="/user/destroy/{{users.id}}"> Delete </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/user/new"> Add a new user! </a>
        </div>
    </div>
</body>
</html>