<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    *{
        margin: 0 auto;
        text-align: center;
    }
    .click{
        background-color: blue;
        height: 30px;
        width: 70px;
    }
    .reset{
        background-color: red;
        height: 30px;
        width: 70px;
    }
    .counter {
        font-size: 20px;
        text-decoration: solid;
        margin: 3px;
    }
</style>
</head>
<body>
    <div class='wrapper'>
        <h1> Counter </h1>
    </div>
    <div class='counter'>
        <p> time </p>
    </div>
    <div>
        <button class="click"><a href="/" > + 2 </a></button>
        <button class="reset"><a href="/reset" > Reset</a></button>
    </div>
</body>
</html>