<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Info</title>
</head>
<body>
    <div class="wrapper">
        <div class="email_info">
            <h1> Email Addresses Added: </h1>
            {% for e in emails %}
            <p>{{e.name}} {{e.created_at}}</p>
            {% endfor %}
        </div>
        <a href='/'>Home</a>
    </div>
</body>
</html>