<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0; 
        }
        .wrapper{
            border: black solid 3px;
            text-align: left;
            width: 320px;
            height: 250px;
        }
        .form{
            font-size: 18px;
        }
        .button{
            background-color: teal;
            color: white;
            margin-left: 261px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="form_info"> 
            <form action='/forminfo' method='post'>
                <label for='name'>Name:</label>
                <input type='text' name='name'>
                <div> 
                    <label for='dojo location'>Dojo Location:</label>
                    <select id='dojo' name='dojo location'>
                        <option value="hidden"> </option>
                        <option value="san jose">San Jose</option>
                        <option value="new york">New York</option>
                        <option value="chicago">Chicago</option>
                        <option value="burbank">Burbank</option>
                    </select>
                </div>
                <div>
                    <label for="fav lang"> Favorite Language: </label>
                    <select id='fav lang' name='favorite language'>
                        <option value="hidden"> </option>
                        <option value="python">Python</option>
                        <option value="html"> HTML </option>
                        <option value="CSS"> CSS </option>
                        <option value="javascript"> Javascript </option>
                    </select>
                </div>
                <div>
                    <label for="comments">Comments (optional):</label>
                    <textarea name="comments" style="width:200px; height:75px"></textarea>
                </div>
                <input type='submit' value='Submit' class='button'>
            </form>
        </div>
    </div>
</body>
</html>